<!DOCTYPE html>
<html  data-theme="dark">
  <head>
    <meta charset="utf-8">
    <title>Symbols</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  />
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <body>
      <main id="app" class="container">
        <h1>Parse symbols</h1>
        <form v-on:submit.prevent="onSubmit">
          <fieldset role="group">
              <input v-model="symbol" id="symbol" type="text" placeholder="Type your symbol">
              <input
                type="submit"
                value="Parse"
              />
          </fieldset>
        </form>
        <blockquote v-if="symbolInfo">
          <dl>
            <dt>Symbol Type</dt>
            <dd>{{ symbolInfo.symbol_type }}</dd>
            <dt>Original Symbol</dt>
            <dd>{{ symbolInfo.original_symbol }}</dd>
            <dt>Underlying Symbol</dt>
            <dd>{{ symbolInfo.underlying_symbol }}</dd>
            <template v-if="symbolInfo.symbol_modifier">
              <dt>Symbol Modifier</dt>
              <dt>{{ symbolInfo.symbol_modifier}} </dt>
            </template>
            <template v-if="symbolInfo.option_contract">
              <dt>Strike Price</dt>
              <dd>{{ symbolInfo.option_contract.strike_price }} </dt>
              <dt>Put/Call</dt>
              <dd>{{ symbolInfo.option_contract.put_call }} </dt>
              <dt>Option Date</dt>
              <dd>{{ symbolInfo.option_contract.date }} </dt>
            </template>
            <template v-if="symbolInfo.future_contract">
              <dt>Continuous</dt>
              <dd>{{ symbolInfo.future_contract.continuous }} </dt>
              <dt>Month</dt>
              <dd>{{ symbolInfo.future_contract.month }} </dt>
              <dt>Year</dt>
              <dd>{{ symbolInfo.future_contract.year }} </dt>
            </template>
            <dt>JSON</dt>
            <dd><pre><code>{{ JSON.stringify(symbolInfo, undefined, 2) }}</code></pre></dd>
          </dl>
        </blockquote>
      </main>
    </body>
    <noscript>This page contains webassembly and javascript content, please enable javascript in your browser.</noscript>
    <script src="./bootstrap.js"></script>
  </body>
</html>
